@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;

}
h1{
    text-align: center;
    margin: 12px 0;
}
.container{
    min-height: 77vh;
    margin: 43px 0;
    
}
.container h1{
    font-family: 'Yeon Sung', cursive;
    font-size: 34px;
    
}
.myForm{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 
}
.myInput{
   width: 40%;
   padding: 9px;
   margin: 8px;
   font-size: 16px;
   border: 2px solid rgba(240, 163, 163, 0.993); 
   border-radius: 12px;
   outline: none;
}
.btn{
    padding: 8px 16px;
    font-size: 18px;
    border: 2px solid black ;
    border-radius: 10px;
    color: black;
    background: #e59f96c4;
    cursor: pointer;
    outline: none;
    margin: 26px;
}